In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot

In [3]:
df = pd.read_csv('data/marvel_movies.csv')
df.head()

,titulo,year,duracion,presupuesto,recaudacion,personajes,valoracion
0,Iron Man,2008,126,140,585,"Iron Man, Pepper Potts, Obadiah Stane",7.9
1,The Avengers,2012,143,220,1518,"Iron Man, Capitan America, Thor, Hulk",8.0
2,Black Panther,2018,134,200,1347,"Black Panther, T'Challa, Killmonger, Shuri",7.3
3,Avengers: Infinity War,2018,149,316,2052,"Iron Man, Capitan America, Thor, Thanos, Spide...",7.5
4,Avengers: Endgame,2019,181,356,2798,"Iron Man, Capitan America, Thor, Thanos, Spide...",8.4

In [4]:
df.groupby('year').mean('duracion')

        duracion  presupuesto  recaudacion  valoracion
year
2008  126.000000   140.000000   585.000000    7.900000
2012  143.000000   220.000000  1518.000000    8.000000
2014  121.000000   170.000000   773.000000    8.000000
2016  115.000000   165.000000   677.000000    7.500000
2017  133.000000   190.000000   858.500000    7.300000
2018  133.666667   215.333333  1340.333333    7.266667
2019  152.000000   254.000000  1963.000000    7.600000
2021  152.000000   218.000000  1161.500000    6.800000
2022  119.000000   250.000000   760.000000    5.300000

In [20]:
def beneficios(row):
    rec = row['recaudacion']
    pre = row['presupuesto']
    return rec - pre
df['Beneficio'] = df.apply(beneficios, axis=1)
df

,titulo,year,duracion,presupuesto,recaudacion,personajes,valoracion,Beneficio
0,Iron Man,2008,126,140,585,"Iron Man, Pepper Potts, Obadiah Stane",7.9,445
1,The Avengers,2012,143,220,1518,"Iron Man, Capitan America, Thor, Hulk",8.0,1298
2,Black Panther,2018,134,200,1347,"Black Panther, T'Challa, Killmonger, Shuri",7.3,1147
3,Avengers: Infinity War,2018,149,316,2052,"Iron Man, Capitan America, Thor, Thanos, Spide...",7.5,1736
4,Avengers: Endgame,2019,181,356,2798,"Iron Man, Capitan America, Thor, Thanos, Spide...",8.4,2442
5,SpiderMan: No Way Home,2021,148,200,1921,"Spiderman, Doctor Strange, Green Goblin",8.2,1721
6,Guardians of the Galaxy,2014,121,170,773,"Star-Lord, Gamora, Drax, Rocket, Groot",8.0,603
7,Doctor Strange,2016,115,165,677,"Stephen Strange, Wong, Mordo",7.5,512
8,Thor: Ragnarok,2017,130,180,854,"Thor, Loki, Hela, Hulk",7.9,674
9,Captain Marvel,2019,123,152,1128,"Carol Danvers, Nick Fury, Talos",6.8,976
10,Ant-Man and the Wasp,2018,118,130,622,"Scott Lang, Hope van Dyne, Hank Pym",7.0,492
11,Guardianes de la Galaxia vol. 2,2017,136,200,863,"Star-Lord, Gamora, Drax, Rocket, Groot, Mantis...",6.7,663
12,Eternals,2021,156,236,402,"Caballero negro, Ikaris, Ajak, Sprite, Thena, ...",5.4,166
13,Thor: Love and Thunder,2022,119,250,760,"Gorr, Thor, Zeus, Korg, King Valkyrie, Heimdall",5.3,510

In [18]:
df['duracion'].apply(np.log)

0     4.836282
1     4.962845
2     4.897840
3     5.003946
4     5.198497
5     4.997212
6     4.795791
7     4.744932
8     4.867534
9     4.812184
10    4.770685
11    4.912655
12    5.049856
13    4.779123
Name: duracion, dtype: float64